/* SIDEBAR */
.sidebar {
    position: fixed;
    left: -300px;
    width: 280px;
    height: 100vh;
    background-color: var(--bg-dark);
    padding: 24px;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.sidebar-top {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    min-height: 50px;
}

.close-sidebar {
    background: transparent;
    border: none;
    color: var(--text-gray);
    font-size: 1.5rem;
    cursor: pointer;
}

/* LOGO DESKTOP */
.sidebar-logo-desktop {
    display: none;
    align-items: center;
    gap: 12px;
}

.sidebar-logo-desktop .logo-icon {
    background: var(--purple);
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
}

/* Localizado em sidebar.css */
.logo-img {
    width: 180px;         
    height: auto;         
    object-fit: contain;   
    margin: 0 auto;        
    display: block;
    margin-bottom: -50px;
    margin-top: -20px;
}

.sidebar-logo-desktop {
    display: none;  
    justify-content: center; 
    width: 100%;          
    padding: 10px 0;       
}

/* NAVEGAÇÃO */
.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 16px;
    color: var(--text-gray);
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    transition: var(--transition);
}

/* ITEM ATIVO */
.sidebar-nav li.active a {
    background: var(--purple);
    color: white;
    font-weight: 600;
}

/* HOVER */
.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    padding-left: 20px;
}

/* DESKTOP */
@media (min-width: 992px) {

    .sidebar {
        position: sticky;
        top: 0;
        left: 0;
    }

    .sidebar-logo-desktop {
        display: flex;
    }

    .close-sidebar {
        display: none;
    }

    .content {
        margin-left: 0px;
    }
}

/* MOBILE AJUSTE */
@media (max-width: 991px) {

    body:has(.sidebar.open) .menu-toggle {
        opacity: 0;
    }
}